.setting-name {
    font-weight: bold;
    padding: 5px;
}

.setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.setting-value {
    padding: 5px;
}