.mobile__root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.mobile__root>.WEBGL {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
    background-color: #161B22;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

/* scrolable is below WEBGL. WEBGL is fixed, and 
stay over the scollable content */

.mobile__root>.scrolable {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
    transition: 0.3s;
}