.FnParams {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/* all first div of .BiParams */
.FnParams>div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 5px;
}

.FnParams .Point {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.FnParams .Point .data {
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.FnParams .Point .data>.pointValue {
    width: 70px;
    margin: 5px;
    border-radius: 15px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    padding: 7px;
    color: rgba(255, 255, 255, 0.3);
}

.FnParams .Point .data>.pointValue>input {
    width: 40px;
    border: none;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: transparent;
    color: #ecf0f1;
    text-align: left;
}

.FnParams .data {
    margin: 5px;
    border-radius: 15px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    padding: 7px;
    color: rgba(255, 255, 255, 0.3);
}

.FnParams .data input {
    width: 40px;
    border: none;
    text-align: center;
    text-decoration: none;
    outline: none;
    background: transparent;
    color: #ecf0f1;
    text-align: left;
    padding-left: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(46, 43, 43);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    /* Position the tooltip over the label*/
    top: -115%;
    left: 10%;

}


.tooltip:hover .tooltiptext {
    visibility: visible;
}

.FnParams input::-webkit-outer-spin-button,
.FnParams input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.FnParams input[type=number] {
    -moz-appearance: textfield;
}