div {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    width: 100vw;
}

/* make webgl div always on top, and not scrolling */
.webGL {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 1;
    background-color: #2c3e50;
    /* add shadow to the bottom */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* make params below .webGL div*/
.params {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 310px;
}

.graphs {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.graphs>div {
    width: 100%;
    height: 25vh;
}

/* child of params */
.params>div {
    width: 100%;
}


.code {
    order: 4;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: #2c3e50;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    color: #ecf0f1;
}

@media only screen and (min-width: 768px) {

    /* for desktops */
    .webGL {
        height: 500px;
    }

    .params {
        padding-top: 510px;
    }

    .graphs>div {
        height: 50vh;
    }

    .code {
        font-size: 2em;
    }


}