.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: red;
    padding: 0px;
    margin: 0px;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    flex: 1;
    color: #2c3e50;
    background-color: green;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    height: calc(100vh - 40px);
    color: #ecf0f1;
}

.output {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    flex: 2;
    color: #2c3e50;
    background-color: blue;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.webGL {
    flex: 2;
    width: 100%;
    position: relative;
    background-color: aqua;
}

.graphs {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: coral;
}

.graph1 {
    height: 100%;
    width: 100%;
    flex: 1;
}

.graph2 {
    height: 100%;
    width: 100%;
    flex: 1;
}

@media only screen and (max-width: 768px) {

    .mainContainer {
        flex-direction: column;
    }

    .code {
        height: calc(50vh - 40px);
    }

    .output {
        height: calc(50vh - 40px);
    }

    .webGL {
        height: calc(50vh - 40px);
    }

    .graphs {
        height: calc(50vh - 40px);
    }
}