.nmp {
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: grid;
    height: 100vh;
    grid-template-areas:
        'param dragbar1 webgl'
        'code dragbar1 webgl'
        'dragbar dragbar dragbar'
        'output output output';
    grid-template-rows: min-content 2fr 6px 1fr;
    grid-template-columns: 1fr 6px 1fr;
}

.params {
    border: 1px solid black;
    grid-area: param;
    background-color: red;
    overflow: auto;
}

.code {
    border: 1px solid black;
    grid-area: code;
    background-color: orange;
    overflow: auto;
}

.dragbar {
    grid-area: dragbar;
    background-color: green;
    cursor: row-resize;
}

.dragbar1 {
    grid-area: dragbar1;
    background-color: green;
    cursor: col-resize;
}


.webGL {
    position: relative;
    border: 1px solid black;
    grid-area: webgl;
    background-color: blue;
    display: block;
}

.graphs {
    grid-area: output;
    background-color: yellow;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}